/*  external css */

/* universal selector */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-title {
    color: var(--main-color);
    text-decoration: rgb(255, 0, 221) wavy underline overline;
}

main, h1 {
    /* color with color name */
    color: white;
}


h2 {
    /* color with hsl */
    color: hsl(0, 0%, 100%);
}

h3 {
    /* color with hex codes */
    color: #ffffff;
}

nav {
    color: white;
}

ul {
    color: white;
    margin: auto;
}

/* id selector */
#absent {
    /* color function */
    color: color(display-p3 1 0 0.331);
}

/* class selector */
.form {
    /* fallback for --main-color */
    color: var(--main-color, white);
}

/* box model */
#navigation {
    /* positioning */
    display: inline-block;
    list-style: none;
    margin: .5cm;
    padding-top: 1em;

    font-size: 1.5vmax;
}

li.navbar {
    text-align: center;
    /* spacing */
    padding: 0.75rem;
    margin-top: 10px;

    /* border and color */
    border-style: solid;
    border-width: 1mm;
    border-radius: 20px;
    border-color: white;
    background-color: rgb(95, 95, 95);
}

#meeting-notes {
    text-align: center;
}

a {
    color: var(--main-color, white);
    text-decoration: none;
    font-weight: bold;
}

/* variable */
@property --main-color {
    syntax: "<color>";
    inherits: false;
    /* color mix */
    initial-value: color-mix(in lch, rgb(255, 255, 255), pink);
}