/*  external css */

/* variables */
:root {
    --main-color: color-mix(in lch, rgb(255, 255, 255), pink);
}

/* universal selector */
* {
    /* font */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-title {
    color: var(--main-color, white);
    text-decoration: rgb(255, 0, 221) wavy underline overline;
}

main, h1 {
    /* color with color name */
    color: white;
}


h2 {
    /* color with hsl */
    color: hsl(0, 0%, 100%);
}

h3 {
    /* color with hex codes */
    color: #ffffff;
}

nav {
    color: white;
}

ul {
    color: white;
    margin: auto;
}

/* id selector */
#absent {
    /* color function */
    color: color(display-p3 1 0 0.331);
}

/* class selector */
.form {
    /* fallback for --main-color */
    color: var(--main-color, white);
}

/* box model */
#navigation {
    /* positioning */
    display: inline-block;
    list-style: none;
    margin: .5cm;
    padding-top: 1em;

    font-size: 1.5vmax;
}

li.navbar {
    text-align: center;
    /* spacing */
    padding: 0.75rem;
    margin-top: 10px;

    /* border and color */
    border-style: solid;
    border-width: 1mm;
    border-radius: 20px;
    border-color: white;
    background-color: rgb(95, 95, 95);
}

#meeting-notes {
    text-align: center;
}

a {
    color: var(--main-color, white);
    text-decoration: none;
    font-weight: bold;
}


img {
    display: flex;
    height: 50%;
    width: 50%;
    position: relative;
    right: -25%;
}

video {
    position: static;
    max-height: 50%;
    max-width: 50%;
}

ol {
    display: grid;
}

button {
    width: 200px;
    height: 50px;
    font-size: large;
}

/* hover */
button:hover {
    transition: 0.5s;
    background-color: rgb(29, 221, 29);
    color: white;
}

/* active */
button:active {
    box-shadow: 2px 2px 100px rgb(29, 221, 29);
}

/* grid */
ul.player-names {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 30px 30px 30px 30px;
    grid-auto-flow: row;
}

/* flex box */
#absent {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    flex-flow: wrap;
}

/* media query */
@media screen and (width <= 1000px) {
    ul.player-names {
        display: block;
    }

    #absent {
        display: block;
    }

    #navigation {
        display: inline-block;
    }
    
    li.navbar {
        text-align: center;
        /* spacing */
        padding: 0.75rem;
        margin-top: 10px;
    }
    form {
        font-size: 2vh;
    }
}